* {
    margin: 0px;
    color: white;
    font-family: 'Russo One', sans-serif;
}

#nav {
    padding: 12px;
	border-color: black black #FBC502;
	border-width: 4px;
	border-style: solid;
}

#block1 {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#block2{
	margin-bottom: 25px;
}

#dow {
    padding: 16px;
    color: #E9AF09;
	font-size: 24px;
    background-color: #4F1257;
	text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#dow:hover {
    background-color: #E9AF09;
    color: #4F1257;
}

#logo {
	font-size: 28px;
}

body {
    background-color: black;
}
